CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_comfast_cf-e393ax=y
CONFIG_IB=y
CONFIG_SDK=y
CONFIG_AUTOREMOVE=y
CONFIG_IPV6=n
CONFIG_NFTABLES=y
CONFIG_NFTABLES_IPV6=n
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_wpad-wolfssl=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_openconnect=y
CONFIG_PACKAGE_dnscrypt-proxy2=y
CONFIG_PACKAGE_luci-app-dnscrypt-proxy=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_cron=y
