CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_ipq40xx_generic_DEVICE_linksys_ea9350=y
CONFIG_IB=y
CONFIG_SDK=y
CONFIG_AUTOREMOVE=y
CONFIG_IPV6=n
CONFIG_NFTABLES=y
CONFIG_NFTABLES_IPV6=n
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_wpad-wolfssl=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_iputils-ping=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_resolveip=y
